@import '~styles/utilities.scss';

.materials {
  width: 100%;

  &__input {
    display: flex;
    flex-direction: column;
    margin-top: rem(8px);
    border: 1px solid color(grey800);

    &-label {
      background-color: color(grey700);
      text-align: center;
      text-transform: uppercase;
      padding: 2px;
    }

    &-field {
      @include set-font-scale('xs');
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(2px);
      position: relative;

      input {
        @include set-font-scale('xs');
        width: 100%;
        text-align: right;
        color: color(grey000);
        background-color: transparent;
        padding: rem(8px) calc(50% + 2px) rem(8px) rem(8px);
      }

      span {
        position: absolute;
        left: calc(50% + 2px);
        top: calc(50% - 9px);
      }
    }
  }

  &__total {
    @include set-font-scale('xs');
    margin-top: rem(8px);
    border: 1px solid color(grey800);
    text-align: center;
    text-transform: uppercase;
    background-color: color(grey700);
    padding: rem(8px);
    display: block;
    width: 100%;
  }
}
