@import '@/assets/scss/utilities.scss';

.MaterialUtils {
  width: 148px;

  .MaterialInput {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    border: 1px solid lighten(color(primary), 11.74);

    &Label {
      background-color: lighten(color(primary), 23.48);
      text-align: center;
      text-transform: uppercase;
      padding: 2px;
    }

    &Field {
      @include font-size(12);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;

      input {
        @include font-size(12);
        width: 18px;
        text-align: right;
        margin-right: 2px;
        color: color(f);
        background-color: color(primary);

        &:hover {
          background-color: rgba(color(f), .3);
        }
      }
    }
  }

  .Total {
    @include font-size(12);
    margin-top: 4px;
    border: 1px solid lighten(color(primary), 11.74);
    text-align: center;
    text-transform: uppercase;
    background-color: lighten(color(primary), 23.48);
    padding: 2px;
    display: block;
    width: 100%;
  }
}
