@import '~styles/utilities.scss';

.resin-counter {
  margin-top: rem(8px);

  &__input {
    @include set-font-scale('l');
    font-family: Calibri, sans-serif;
    font-weight: 700;
    width: 100%;
    background: color(grey800);
    color: color(grey000);
    padding: 0 rem(118px) 0 rem(32px);
    border: 1px solid color(secondary200);
    border-radius: 18px;
    height: 36px;
    text-align: right;
  }

  &__capsule {
    @include set-font-scale('l');
    font-family: Calibri, sans-serif;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    img {
      width: 24px;
      height: 24px;
      position: absolute;
      top: calc(50% - 12px);
      left: 6px;
    }

    &__max {
      position: absolute;
      right: 80px;
      display: block;

      &::before {
        content: '/';
        margin: 0 2px;
      }
    }

    &__sync {
      position: absolute;
      right: 2px;
    }
  }

  &__buttons {
    display: flex;
    border: 1px solid color(grey800);
    margin-top: rem(8px);
  }

  &__button {
    @include set-font-scale('xs');
    @include transition(background-color .2s ease);
    flex: 1;
    width: calc(25% - 3px);
    padding: rem(8px);
    font-weight: 600;

    &:not(:last-of-type) {
      border-right: 1px solid color(grey800);
    }

    &:focus,
    &:hover {
      background-color: color(secondary200);
    }
  }

  &__timer {
    margin-top: rem(8px);
    border: 1px solid color(grey800);

    h3 {
      @include set-font-scale('xs');
      text-align: center;
      text-transform: uppercase;
      background-color: color(grey700);
      padding: rem(2px);
    }

    p {
      @include set-font-scale('xs');
      margin: 0;
      padding: rem(8px);
      text-align: center;
    }
  }
}
